PORT=8000
MONGODB_URI=YOUR_NEW_ACCESS_TOKEN_SECRET
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=YOUR_NEW_ACCESS_TOKEN_SECRET
CLOUDINARY_API_KEY=YOUR_NEW_ACCESS_TOKEN_SECRET
CLOUDINARY_API_SECRET=YOUR_NEW_ACCESS_TOKEN_SECRET